/* General */
.modal-el-container {
	width: 40%;
	height: 80%;
}

.modal-content-container {
	position: relative;
	height: 92%;
}

.title-style {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ui-button {
	box-shadow: none !important;
	margin-right: 1rem;
	cursor: pointer;
}

.ui-button:disabled {
	cursor: not-allowed;
}

.move-left {
	transform: translateX(-51%);
}

.move-right {
	transform: translateX(51%);
}

.remove-opacity {
	opacity: 0 !important;
}

/* selectorUI */
.notes-container {
	overflow-y: auto;
	height: 90%;
	flex: none;
	border: 0.125rem solid;
	border-radius: 0.5rem;
}

.selector-button-container {
	position: relative;
	bottom: -2.5%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.token-container {
	position: relative;
	bottom: -1%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.notes-container-element {
	display: flex;
	flex-direction: row;
	padding: 1.5%;
	margin: 1%;
	border-radius: 0.5rem;
	border: 0.1rem solid;
}

.note-tokens {
	margin-left: auto;
	margin-right: 2%;
}

.remove-button {
	background-color: transparent !important;
	box-shadow: none !important;
	cursor: pointer;
	padding: initial;
	height: initial;
}

.remove-button:hover {
	background-color: revert !important;
}

/* noteAdder and folderAdder */
.adder-modal {
	width: 40%;
	max-height: 80%;
	top: 10%;
}

/* quizUI */
.question-container {
	overflow-y: auto;
}

.quiz-button-container {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.quiz-divider {
	backdrop-filter: invert(40%);
	border: none;
	height: 2px;
	margin: 1rem 0;
}

.question {
	margin-bottom: 20px;
	font-size: 120%;
	text-align: center;
}

.mc-tf-container {
	display: grid;
	grid-gap: 1.5rem;
	gap: 1.5rem;
	grid-template-columns: repeat(2, 1fr);
}

.mc-tf-container button {
	border: 0.125rem solid;
	cursor: pointer;
	padding: 1rem;
	min-width: 0;
	overflow: hidden;
	word-wrap: break-word;
	width: 100%;
	height: 100%;
	background-color: transparent;
	margin: 0;
	text-align: left;
	white-space: normal;
	font-size: 100%;
}

.mc-tf-container button:hover {
	border-color: hsl(210, 80%, 70%);
	transition: border-color 0.3s ease;
}

.mc-tf-container button:disabled {
	border-color: initial;
	cursor: default;
}

.show-answer-button {
	border: 0.125rem solid;
	cursor: pointer;
	padding: 1rem;
	min-width: 0;
	overflow: hidden;
	word-wrap: break-word;
	width: 100%;
	height: 100%;
	background-color: transparent !important;
	margin: 0;
	text-align: left;
	white-space: normal;
	font-size: 100%;
}

.show-answer-button:hover {
	border-color: hsl(210, 80%, 70%);
	transition: border-color 0.3s ease;
}

.show-answer-button:disabled {
	border-color: initial;
	cursor: default;
}

.correct-choice {
	background-color: #28a745 !important;
}

.incorrect-choice {
	background-color: #dc3545 !important;
}
