/* General */
.modal-el-container {
	width: 40%;
	height: 80%;
}

.modal-content-container {
	position: relative;
	height: 92%;
}

.title-style {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.ui-button {
	box-shadow: none !important;
	margin-right: 1rem;
	cursor: pointer;
}

.ui-button:disabled {
	cursor: not-allowed;
}

/* selectorUI */
.notes-container {
	overflow-y: auto;
	height: 90%;
	flex: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.button-container {
	position: relative;
	bottom: -3%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.token-container {
	position: absolute;
	left: 50%;
	bottom: 5%;
	transform: translateX(-50%);
}

.notes-container-element {
	display: flex;
	flex-direction: row;
	padding: 1.5%;
	margin: 1%;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.note-tokens {
	margin-left: auto;
	margin-right: 2%;
}

.remove-button {
	background-color: transparent !important;
	box-shadow: none !important;
	cursor: pointer;
	padding: initial;
	height: initial;
}

.remove-button:hover {
	background-color: revert !important;
}

/* noteAdder and folderAdder */
.adder-modal {

}

/* quizUI */
.question-container {
	overflow-y: auto;
	flex: none;
	transform: translateY(20%);
}

.buttons-container {
	position: absolute;
	left: 50%;
	top: 9%;
	transform: translateX(-50%);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.quiz-divider {
	position: absolute;
	width: 100%;
	top: 10%;
	backdrop-filter: invert(40%);
	border: none;
	height: 2px;
}

.question {
	margin-bottom: 20px;
	font-size: 18px;
	text-align: center;
}

.mc-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.mc-container button {
	padding: 10px;
	font-size: 16px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.mc-container button:hover { /* not sure if I should keep this */
	background-color: #45a049;
}

.tf-container {

}

.tf-container button {

}

.show-answer-button {
	margin-top: 20px;
	padding: 10px;
	font-size: 16px;
	background-color: #008CBA;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.show-answer-button:hover { /* not sure if keeping this */
	background-color: #00688B;
}

.correct-choice {
	background-color: #4CAF50 !important;
}

.incorrect-choice {
	background-color: #FF6347 !important;
}
