/* selectorUI */
.selected-notes-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 80vh;
	height: 80vh;
	overflow: hidden;
	background-color: #343434;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.selected-notes-title {
	display: flex;
	justify-content: center;
}

.left-buttons-container {
	position: absolute;
	bottom: 10px;
	left: 10px;
	display: flex;
}

.right-buttons-container {
	position: absolute;
	bottom: 10px;
	right: 10px;
	display: flex;
}

.exit {
	background-color: #D9534F;
	color: white;
	padding: 10px 20px;
	margin-right: 10px;
}

.clear {
	background-color: #32CD32;
	color: white;
	padding: 10px 20px;
	margin-right: 10px;
}

.add {
	background-color: #6495ED;
	color: white;
	padding: 10px 20px;
	margin-left: 10px;
}

.generate {
	background-color: #800080;
	color: white;
	padding: 10px 20px;
	margin-left: 10px;
}

.elements-section {
	overflow-y: auto;
	height: 85%;
	flex: none;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.token-section {
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}

.selected-note-box {
	display: flex;
	flex-direction: row;
	background-color: #343434;
	padding: 1.5%;
	margin: 1%;
	border-radius: 5px;
	border: 1px solid #ddd;
}

.note-tokens {
	margin-left: auto;
}

/* quizUI */
#question-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 80vh;
	height: 80vh;
	overflow: hidden;
	background-color: #343434;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

#question-container div {
	margin-bottom: 20px;
	font-size: 18px;
	text-align: center;
}

.choices-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.choices-container button {
	padding: 10px;
	font-size: 16px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.choices-container button:hover {
	background-color: #45a049;
}

.show-answer-button {
	margin-top: 20px;
	padding: 10px;
	font-size: 16px;
	background-color: #008CBA;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.show-answer-button:hover {
	background-color: #00688B;
}

.correct-choice {
	background-color: #4CAF50 !important;
}

.incorrect-choice {
	background-color: #FF6347 !important;
}
